<%= form_with(model: expense) do |form| %>
  <% if expense.errors.any? %>
    <div class="alert alert-warning">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
        <% expense.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-control items-center">

    <div class="my-2">
      <%= form.text_field :name, placeholder: "Name", class: "input input-bordered input-accent w-full max-w-xs"%>
    </div>

    <div class="my-2">
      <%= form.text_field :amount, placeholder: "ex: 12000", class: "input input-bordered input-accent w-full max-w-xs" %>
    </div>

    <div>
      <%= form.label :date, style: "display: block" %>
       <%=  form.date_field :date %> 

    </div>

    <div class= "my-2 p-2 flex flex-col justify-around">
        
      <%= form.select :category_id,Category.pluck(:category, :id), {}, {:class => " select select-accent w-full max-w-xs"}  %>
        
      <%# <%= form.select :user_id, User.pluck(:name, :id),{}, {:class => " select select-accent w-full max-w-xs"}    %>
       <%= form.hidden_field :user_id, value: current_user.id  %>

    </div>


    <div class="flex justify-between">
      <%= form.submit class: "btn btn-sm btn-accent" %>
    </div>

  </div> 
<% end %>
