
<%= link_to "Add Expense", new_expense_path, class: "my-4 btn btn-sm btn-info" %>
<div class="overflow-x-auto">
  <table class="table table-zebra w-full">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Date</th>
        <th>Status</th>
        <th>Action</th>
        
      </tr>
    </thead> 
    <tbody>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.user.name %></td>
          <td><%= expense.name %></td>
          <td><%= expense.amount %></td>
          <td><%= expense.date %></td>
          <td><%= expense.category.category %></td>
          <td><%= link_to "Edit", edit_expense_path(expense) %></td>

        </tr>

      <% end %>
    </tbody>
  </table>
</div>
